yocto/poky/*
yocto/meta-openembedded/*
yocto/meta-raspberrypi/*
build/rpi0/bitbake-cookerdaemon.log
build/rpi0/cache/
build/rpi0/tmp/
downloads/
sstate-cache/
yocto/poky/
yocto/meta-custom-layer/recipes-connectivity/wpa-supplicant/files/wpa_supplicant-nl80211-wlan0.conf

