[Unit]
Description=Blinking service

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/blinking-service

[Install]
WantedBy=multi-user.target
